#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.background {
  position: fixed;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.button-group {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 99;
  margin-top: 10px;
}

button {
  z-index: 5;
  margin: 0 10px;
}